.list__5s {
  list-style: none;
  padding: 2rem;
  margin-top: 2rem;
  box-shadow: 0 0 0.3rem 0 rgba(0, 0, 0, 0.4);
  border-radius: 2rem;
  background-color: #f5f5dc;
}
.list__5s h2 {
  text-align: center;
}
.text__area {
  text-align: center;
}
.text__area__text {
  margin: 1rem;
}
._5s__info {
}
._5s__info h3 {
  cursor: pointer;
  padding: 2rem 0;
}
.center {
  text-align: center;
  animation: rigthSlide 1s forwards;
}
.slide {
  text-align: start;
  animation: leftSlide 1s forwards;
}
._5s__info p {
  animation: downSoftSlide 1s forwards;
  text-align: center;
}
.video {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 3rem 0;
}
@keyframes leftSlide {
  from {
    transform: translate3d(330px, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes rigthSlide {
  from {
    transform: translate3d(-330px, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes downSoftSlide {
  from {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
